asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
cairocffi==0.8.1
CairoSVG==2.1.3
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.1.4
cssselect2==0.2.1
datapunt-authorization-django==0.2.22
datapunt-authorization-levels==0.1.3
defusedxml==0.5.0
Django==2.0.7
django-cors-headers==2.3.0
django-debug-toolbar==1.7
django-extensions==2.0.7
django-filter==1.1.0
djangorestframework==3.8.2
djangorestframework-csv==2.1.0
djangorestframework-gis==0.13
git+https://github.com/Amsterdam/drf_amsterdam.git#egg=drf_amsterdam
drf-extensions==0.3.1
drf-yasg==1.9.1
flake8==3.5.0
flex==6.13.2
future==0.16.0
html5lib==1.0.1
idna==2.7
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10
jsonpointer==1.14
jsonschema==2.6.0
lxml==4.2.3
Markdown==2.6.11
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.2.0
openapi-codec==1.3.2
pdfrw==0.4
Pillow==5.2.0
pluggy==0.6.0
psycopg2-binary==2.7.5
py==1.5.4
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
PyJWT==1.6.4
Pyphen==0.9.4
pytest==3.6.3
pytest-django==3.3.2
pytest-flake8==1.0.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
rfc3987==1.3.7
ruamel.yaml==0.15.42
six==1.11.0
sqlparse==0.2.4
strict-rfc3339==0.7
swagger-spec-validator==2.3.1
tinycss2==0.6.1
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.23
uWSGI==2.0.17.1
validate-email==1.3
WeasyPrint==0.42.3
webencodings==0.5.1
